global
    log stdout format raw local0
    maxconn 100000
    option dontlognull
    tune.ssl.default-dh-param 2048
    ssl-default-bind-ciphers ECDHE-RSA-AES128-GCM-SHA256:ECDHE-RSA-AES256-GCM-SHA384
    ssl-default-bind-options ssl-min-ver TLSv1.2

defaults
    mode tcp
    log global
    option tcplog
    option tcpka
    timeout connect 5s
    timeout client 5m
    timeout server 5m
    retries 3
    option redispatch
    maxconn 50000

listen stats
    bind *:8404
    mode http
    stats enable
    stats uri /stats
    stats auth admin:admin
    stats refresh 10s
    stats show-node
    stats show-legends
    stats show-back
    stats admin if TRUE
    no option http-server-close
    compression algo gzip
    compression type text/html text/plain text/css text/javascript application/json

resolvers docker
    nameserver dns 127.0.0.11:53
    resolve_retries 5
    timeout retry 2s
    timeout resolve 2s
    hold valid 10s
    hold refused 5s
    hold nx 5s
    accepted_payload_size 8192
    parse-resolv-conf

frontend fe_http
    bind *:80
    mode http
    capture request header Host len 64
    option httplog
    default_backend be_traefik_http
    # Redirect HTTP to HTTPS for all traffic
    redirect scheme https code 301 if !SSL
    compression algo gzip
    compression type text/html text/plain text/css text/javascript application/json

frontend fe_https
    bind *:443
    mode tcp
    default_backend be_traefik_https
    tcp-request inspect-delay 5s
    tcp-request content accept if { req_ssl_hello_type 1 }

backend be_traefik_http
    mode http
    balance roundrobin
    option httpchk GET /ping HTTP/1.1\r\nHost:\ traefik
    default-server inter 2s fall 3 rise 2 resolvers docker resolve-prefer ipv4 init-addr libc,none
    # Support up to 10 Traefik replicas
    server-template traefik 1-10 tasks.traefik:80 check observe layer4
    compression algo gzip
    compression type text/html text/plain text/css text/javascript application/json
    stick table type ip size 100k expire 30m
    stick on src

backend be_traefik_https
    mode tcp
    balance roundrobin
    option tcp-check
    tcp-check connect port 443 ssl
    default-server inter 2s fall 3 rise 2 resolvers docker resolve-prefer ipv4 init-addr libc,none
    # Support up to 10 Traefik replicas
    server-template traefik 1-10 tasks.traefik:443 check observe layer4
